.path-mod-flashcards .que .info {
    display: none;
}

.path-mod-flashcards .que .content {
    margin: 0;
}

.path-mod-flashcards .qtitle_tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.path-mod-flashcards .add_remove_btn_margins {
    margin-bottom: 10px;
    margin-left: 5px;
}

th.flashcards_studentview_ec,
th.flashcards_teacherview_ec {
    width: 2%;
}

th.flashcards_studentview_tc,
th.flashcards_teacherview_tc {
    width: 6%;
    white-space: nowrap;
    text-align: center;
}

th.flashcards_studentview_all {
    width: 9em;
}

td.flashcards_studentview_tc,
td.flashcards_teacherview_tc {
    width: 6%;
    white-space: nowrap;
    text-align: center;
}

div.flashcards_add_btn_visi {
    visibility: visible;
}
div.flashcards_add_btn_invisi {
    visibility: hidden;
}
.mod-flashcards.btn-div {
    display: inline-block;
    margin-bottom: 1em;
}

.mod-flashcards.fc-center {
    display: block;
    margin: auto;
    text-align: center;
}

.mod-flashcards.btn-box {
    text-align: left;
    min-width: 10em;
    min-height: 8em;
    width: 100%;
}
.mod-flashcards.fc-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0;
}

.mod-flashcards.btn-learn-now {
    height: 100%;
    border: 1px solid;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
.mod-flashcards.btn-box {
    text-align: left;
    min-width: 10em;
    min-height: 8em;
    width: 100%;
}

#mod-flashcards-question .im-controls {
    display: none;
}

#mod-flashcards-range-slider {
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#mod-flashcards-range-slider:hover {
    opacity: 1;
}

img.mod-flashcards-appstore-badge {
    width: 17em;
}

.mod-flashcards-box-number {
    font-size: 1.5em;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px black;
    width: 1.7em;
    height: 1.7em;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0.2em;
    margin-right: 0.3em;
}

.mod-flashcards-box-smiley {
    max-width: 2em;
    max-height: 2em;
    vertical-align: unset;
}

.path-mod-flashcards .color-declined {
    color: red;
}

.path-mod-flashcards .color-approved {
    color: green;
}

.path-mod-flashcards .color-pending {
    color: orange;
}

.mod-flashcards-decoration-icon {
    max-width: 2.5em;
    max-height: 2.5em;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.path-mod-flashcards .left-corner-position {
    max-width: 2.5em;
    max-height: 2.5em;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.mod-flashcards-formulation {
    color: #001a1e;
    background-color: #e7f3f5;
    border-color: #b8dce2;
}

.mod-flashcards-formulation hr {
    border-top-color: #a6d3db;
}

.mod-flashcards-formulation .alert-link {
    color: black;
}

div.progress.mod-flashcards-progress-bar {
    min-height: 3em;
    background-color: SlateGray;
}

#mod-flashcards-learning-progress {
    min-height: 3em;
    background-color: SlateGray;
}

.btn.mod-flashcards-button-action-bottom {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.card-img.mod-flashcards-box-bg {
    max-height: 23em;
}

.mod-flashcards-preview-box {
    border: 1px solid #cad0d7;
    padding: 1em;
    margin-bottom: 1.5em;
}

.mod-flashcards-blue-box {
    padding: 1em;
    margin-bottom: 1.5em;
}

.path-mod-flashcards .upsidedown i {
    transform: rotate(180deg);
}

.path-mod-flashcards .iconsize i {
    font-size: 2em;
    width: auto;
    height: auto;
}

.path-mod-flashcards .texticon {
    display: inline;
}

.path-mod-flashcards .texticon i {
    margin: 0em;
}

.path-mod-flashcards .btn-peerreview {
    background-color: transparent;
    border: none;
    padding: 0em;
}

.path-mod-flashcards .btn-peerreview.btn-up {
    color: green;
}

.path-mod-flashcards .btn-peerreview.btn-down {
    color: red;
}

.path-mod-flashcards #teacherviewform {
    float: right;
}

.path-mod-flashcards .btn-space {
    padding-left: 1em;
}

.path-mod-flashcards .votetext {
    padding-left: 0.5em;
    font-size: 1.01rem;
}

.path-mod-flashcards .greyed {
    opacity: 0.4;
}

.path-mod-flashcards .add-menu-outer {
    float: right;
}

.path-mod-flashcards .add-menu-space {
    padding-bottom: 2em;
}

.path-mod-flashcards .box-title {
    display: inline-block;
    word-break: break-all;
}