/*TODO richtiger Context*/
#page-content .que .info {
    visibility: hidden;
    width: 0;
    padding: 0;
}

#page-content .que .content {
    margin: 0;
}

th.flashcards_studentview_ec, th.flashcards_teacherview_ec {
    width: 2%;
}

th.flashcards_studentview_all {
    width: 9em;
}

.mod-flashcards.btn-div {
    display: inline-block;
    margin-bottom: 1em;
}

.mod-flashcards.btn-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px;
    text-align: left;
    min-width: 10em;
    min-height: 8em;
    width: 100%;
}

.mod-flashcards.btn-learn-now {
    height: 100%;
    border: 1px solid;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
.mod-flashcards.center {
    display: block;
    margin: auto;
    text-align: center;
}

#mod-flashcards-question .im-controls {
    display: none;
}

.mod-flashcards.slider {
    padding: 0 1em 0 1em;
    border: 1px solid;
    display:table;
    margin:0 auto;
}

#mod-flashcards-range-slider {
    width: 50%;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#mod-flashcards-range-slider:hover {
    opacity: 1;
}