{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_flashcards/flashcardpreview

    Example context (json):
    {
        "actionurl":"https://someurl",
        "sesskey":"1111111AAE",
        "slot":"1",
        "question":"<div>sometext</div>",
        "upvotes":"133",
        "downvotes":"10",
        "canedit":"true",
        "teachercheckcolor":"red"
    }
}}
<div class="flex-container">
    <form method="post" action="{{{actionurl}}}" enctype="multipart/form-data" id="responseform">
        <div>
            <input type="hidden" name="sesskey" value="{{sesskey}}"/>
            <input type="hidden" name="slots" value="{{slot}}"/>
            <input type="hidden" name="scrollpos" value="" id="scrollpos"/>
        </div>
        <h4><b>{{# str }} preview, core {{/ str }}</b></h4>
        <div class="row">
            <div id="previewcontrols" class="controls">
                {{#showfceditlink}}
                    <a class="btn btn-primary mb-1 ml-2" href = "{{{fceditlink}}}">{{# str }} editflashcard, mod_flashcards {{/ str }}</a>
                {{/showfceditlink}}
            </div>
        </div>
        <div class="row">
           <div class="col">
                <h4><b>{{# str }} question, mod_flashcards {{/ str }}</b></h4>
           </div>
        </div>
        <div class="row">
            <div class="col">
                <div class ="formulation clearfix">
                    <div class="blue-box">
                        {{questiontitle}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4> {{# str }} question {{/ str }} </h4>
                <div class ="formulation clearfix">
                    <div class="blue-box">
                        {{{questiontext}}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4> {{# str }} correctanswer, mod_flashcards {{/ str }} </h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class ="formulation clearfix">
                    <div class="blue-box">
                        {{{answer}}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-6">
                <div class="preview-box">
                    <div class="row justify-content-between no-gutters">
                        <div class="col">
                            <h5>{{# str }} peerreview, mod_flashcards {{/ str }}  {{#helppeerreview}}{{>core/help_icon}}{{/helppeerreview}}</h5>
                        </div>
                        <div class="col-sm-auto">
                            <div class="iconsize">
                                <button type="button" id="upvotebtn" class="btn btn-peerreview {{prbtncolorinfoup}}" onClick="$.mod_flashcards_peer_review({{fqid}}, {{upvote}})">
                                    {{# pix }} t/approve, core, {{# str }} thumbsup, mod_flashcards {{/ str }} {{/ pix }}
                                </button>
                            </div>
                            <div id="upvotescount" class="color-approved votetext">
                                {{upvotes}}
                            </div>
                        </div>
                        <div class="col-sm-auto">
                            <div class="iconsize upsidedown">
                                <button type="button" id="downvotebtn" class="btn btn-peerreview {{prbtncolorinfodown}}" onClick="$.mod_flashcards_peer_review({{fqid}}, {{downvote}})">
                                    {{# pix }} t/approve, core, {{# str }} thumbsdown, mod_flashcards {{/ str }} {{/ pix }}
                                </button>
                            </div>
                            <div id="downvotescount" class="color-declined votetext">
                                {{downvotes}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="preview-box">
                    <div class="row">
                        <div class="col">
                            <h5>{{# str }} teachercheck, mod_flashcards {{/ str }} {{#helpteachercheck}}{{>core/help_icon}}{{/helpteachercheck}}</h5>
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-between no-gutters">
                        <div class="col">
                            {{#canedit}}
                                <select id="teachercheck" name="teachercheck" onchange="$.mod_flashcards_teacher_check({{fqid}}, {{statval}}, this.value)">
                                    <option value="0" title="{{# str }} statusval0, mod_flashcards {{/ str }}" {{#selected0}}selected{{/selected0}}>{{# str }} statusval0, mod_flashcards {{/ str }}</option>
                                    <option value="1" title="{{# str }} statusval1, mod_flashcards {{/ str }}" {{#selected1}}selected{{/selected1}}>{{# str }} statusval1, mod_flashcards {{/ str }}</option>
                                    <option value="2" title="{{# str }} statusval2, mod_flashcards {{/ str }}" {{#selected2}}selected{{/selected2}}>{{# str }} statusval2, mod_flashcards {{/ str }}</option>
                                </select>
                            {{/canedit}}
                            {{^canedit}}
                                {{checkicon.title}}
                            {{/canedit}}
                        </div>
                        <div class="col-xl-auto">
                            {{#canedit}}
                                <div id="tcicon1" class="{{teachercheckcolor1}} iconsize" {{^icon1}} style="display: none;" {{/icon1}}>
                                    {{# pix }} {{checkicon1.key}}, {{checkicon1.component}}, {{checkicon1.title}} {{/ pix }}
                                </div>
                                <div id="tcicon2" class="{{teachercheckcolor2}} iconsize" {{^icon2}} style="display: none;" {{/icon2}}>
                                    {{# pix }} {{checkicon2.key}}, {{checkicon2.component}}, {{checkicon2.title}} {{/ pix }}
                                </div>
                                <div id="tcicon0" class="{{teachercheckcolor0}} iconsize" {{^icon0}} style="display: none;" {{/icon0}}>
                                    {{# pix }} {{checkicon0.key}}, {{checkicon0.component}}, {{checkicon0.title}} {{/ pix }}
                                </div>
                            {{/canedit}}
                            {{^canedit}}
                                <div class="{{teachercheckcolor}} iconsize">
                                    {{# pix }} {{checkicon.key}}, {{checkicon.component}}, {{checkicon.title}} {{/ pix }}
                                </div>
                            {{/canedit}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
