{{#boxes}}
    <div class="span3">
        <button class="mod-flashcards btn-box btn mr-3 mb-3"> {{# str }} box, mod_flashcards {{/ str }}
            <br> {{# str }} opencardnumber, mod_flashcards {{/ str }} </button>
    </div>
{{/boxes}}