<div class="container m-0">
    <div class="row">
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div id="mod-flashcards-boxes">
                {{#boxes}}{{!
                    }}<div class="mod-flashcards btn-div col-md-4 col-sm-12 col-xs-12"><a href="{{{redirecturl}}}">{{!
                        }}<button class="mod-flashcards btn-box btn fc-shadow btn-secondary"> {{# str }} box, mod_flashcards {{/ str }}<br> {{# str }} opencardnumber, mod_flashcards {{/ str }} </button>{{!
                    }}</a></div>{{!
                }}{{/boxes}}
            </div>
        </div>
        <div class="mod-flashcards btn-div col-md-3 col-sm-12 col-xs-12">
            <div class="mod-flashcards btn-learn-now fc-shadow col-xs-12">
                {{#enablelearnnow}}
                    <p class="mod-flashcards fc-center ">{{# str }} learnnowrangeslider, mod_flashcards {{/ str }}</p><br>
                    <input type="range" class="mod-flashcards fc-center" id="mod-flashcards-range-slider" min="1" max="{{learnnowqcount}}"><br>
                    <input type="text" class="mod-flashcards fc-center" id="mod-flashcards-range-slider-value" size="3"><br>
                    <button class="mod-flashcards fc-center btn btn-primary" onclick="$.mod_flashcards_start_learn_now({{flashcardsid}})">{{# str }} learnnowbuttonstart, mod_flashcards {{/ str }}</button>
                {{/enablelearnnow}}
                {{^enablelearnnow}}
                    <p class="mod-flashcards center">{{# str }} learnnownoquestions, mod_flashcards {{/ str }}</p><br>
                {{/enablelearnnow}}
            </div>
        </div>
    </div>
</div>
