{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_flashcards/studentinitboxview

    Example context (json):
    {
        "questions": [
            {
            "text": "example text of a question",
            "qurl": "https://redirecturl",
            "qid": 17, 
            "author": "John Doe"
            },
            {
            "text": "example text2 of a question",
            "qurl": "https://redirecturl2",
            "qid": 18,
            "author": "Sophisti Cat"
            }
         ],
         "aid": 20,
         "cmid": 12,
         "displayauthorcolumn": 1
    }
}}

<div class="{{cbvis}}">
    <p><button class="btn btn-secondary" onclick="window.location.href='{{createfcurl}}';">{{# str }} createflashcardbutton, mod_flashcards {{/ str }}</button></p>
</div>

<table class="generaltable fullwidth flashcardsstudenttable">
    <thead>
    <tr>
        <th class="flashcards_studentview_all header" scope="col"><input type="checkbox" onClick="$.mod_flashcards_select_all(this)"/> {{# str }}
            selectall, mod_flashcards {{/ str }}</th>
        <th class="header name">{{# str }} question, mod_flashcards {{/ str }}</th>
        {{#displayauthorcolumn}}
            <th class="flashcards_studentview_author header iconcol" scope="col">{{# str }} author, flashcards {{/ str }}</th>
        {{/displayauthorcolumn}}
        <th class="flashcards_studentview_ec header iconcol" scope="col">{{# str }} edit, moodle {{/ str }}</th>
        <th class="flashcards_studentview_ec header iconcol" scope="col">{{# str }} preview, moodle {{/ str }}</th>
        <th class="flashcards_studentview_dc header iconcol" scope="col">{{# str }} delete, moodle {{/ str }}</th>
    </tr>
    </thead>
    <tbody class="table">
    {{#questions}}
        <tr class="table-row">
            <td>
                <input class="mod-flashcards-checkbox" data-value="{{qid}}" type="checkbox">
            </td>
            <td>
                {{{text}}}
            </td>
            {{#displayauthorcolumn}}
                <td>{{author}}</td>
            {{/displayauthorcolumn}}
            <td>
               {{#editquestionurl}}
               <a class="mod_flashcards_studentview_delete" href="{{editquestionurl}}" title="{{# str }} edit, moodle {{/ str }}">
                    <i class="icon fa fa-cog fa-fw iconsmall" title="{{# str }} edit, moodle {{/ str }}" aria-label="{{# str }} edit, moodle {{/ str }}"></i>
               </a>
               {{/editquestionurl}}
            </td>
            <td>
                <a href="{{qurl}}" target="questionpreview" title="{{# str }} preview, moodle {{/ str }}">
                    <i class="icon fa fa-search-plus fa-fw iconsmall" title="{{# str }} preview, moodle {{/ str }}" aria-label="{{# str }} preview, moodle {{/ str }}"></i>
                </a>
            </td>
            <td>
               {{#deletequestionurl}}
               <a class="mod_flashcards_studentview_delete" href="{{deletequestionurl}}" title="{{# str }} delete, moodle {{/ str }}">
               		<i class="icon fa fa-trash fa-fw iconsmall" title="{{# str }} delete, moodle {{/ str }}" aria-label="{{# str }} delete, moodle {{/ str }}"></i>
               </a>
               {{/deletequestionurl}}
        </tr>
    {{/questions}}
    </tbody>
</table>

<div>
    <button class="btn btn-primary" onclick="$.mod_flashcards_init_questions({{aid}}, {{cmid}})">{{# str }} addflashcardbutton, mod_flashcards {{/ str }}</button>
</div>
