<div class="container">
<div class="row-fluid">

    <div class="span8">
        <div class="row-fluid m-0">
            <div class="span3">
                <button class="mod-flashcards btn-box btn mr-3 mb-3"> {{# str }} box, mod_flashcards {{/ str }}
                    <br> {{# str }} opencardnumber, mod_flashcards {{/ str }} </button>
            </div>
            <div class="span3">
                <button class="mod-flashcards btn-box btn mr-3 mb-3"> {{# str }} box, mod_flashcards {{/ str }}
                    <br> {{# str }} opencardnumber, mod_flashcards {{/ str }} </button>
            </div>
            <div class="span3">
                <button class="mod-flashcards btn-box btn mr-3 mb-3"> {{# str }} box, mod_flashcards {{/ str }}
                    <br> {{# str }} opencardnumber, mod_flashcards {{/ str }} </button>
            </div>
        </div>

        <div class="row-fluid m-0">
            <div class="span3">
                <button class="mod-flashcards btn-box btn mr-3 mb-3"> {{# str }} box, mod_flashcards {{/ str }}
                    <br> {{# str }} opencardnumber, mod_flashcards {{/ str }} </button>
            </div>
            <div class="span3">
                <button class="mod-flashcards btn-box btn mr-3 mb-3"> {{# str }} box, mod_flashcards {{/ str }}
                    <br> {{# str }} opencardnumber, mod_flashcards {{/ str }} </button>
            </div>
            <div class="span3">
                <button class="mod-flashcards btn-box btn mr-3 mb-3"> {{# str }} box, mod_flashcards {{/ str }}
                    <br> {{# str }} opencardnumber, mod_flashcards {{/ str }} </button>
            </div>
        </div>
    </div>

    <div class="span3">
        <button class="mod-flashcards btn-box btn mr-3 mb-3"> {{# str }} box, mod_flashcards {{/ str }}
            <br> {{# str }} opencardnumber, mod_flashcards {{/ str }} </button>
    </div>
</div>
</div>