{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_flashcards/studentinitboxview

    Example context (json):
    {
        "actionurl": "https://someurl",
        "id": "1",
        "sesskey": "1337XOXO",
        "createbtnlink": "https://addflashcardlink",
        "headertext": "Some header text"
    }
}}
<div class="btn-div">
    <button class="btn btn-secondary" onclick="window.location.href = '{{backtooverviewlink}}';">{{# str }} backtooverviewbutton, mod_flashcards {{/ str }}</button>
    <button class="btn btn-secondary" onclick="window.location.href = '{{tabbtnlink}}';">{{tabbtntext}}</button><br>
    {{#cbvis}}
    <br>
    <button class="btn btn-primary" onclick="window.location.href = '{{createbtnlink}}';">{{# str }} createflashcardbutton, mod_flashcards {{/ str }}</button>
    {{/cbvis}}
    <br>
</div>
<h3>
    {{headertext}}
    {{#helpicon}}
        {{>core/help_icon}}
    {{/helpicon}}
</h3><br>
<button class="btn btn-primary btn-sm add_remove_btn_margins" id="maintanancebtn" onclick="{{{collectionchangefunc}}}" disabled="">
    {{collectionchangetext}}
</button>
<br>
{{# str}} questioncount, mod_flashcards {{/ str }}: {{flashcardcount}}
