<section>
    <table class="generaltable fullwidth">
        <thead>
        <tr>
            <th class="header name">Question</th>
        </tr>
        </thead>
        <tbody class="table">
        {{#questions}}
            <tr class="table-row">
                <td class="table-cell">
                    {{name}}
                </td>
                <td class="iconcol previewaction">
                    <a href="{{qurl}}" id="action_link5de0e9d32ce5523" class="" title="Preview">
                        <i class="icon fa fa-search-plus fa-fw iconsmall" title="Preview" aria-label="Preview"></i>
                     </a>
                </td>
            </tr>
        {{/questions}}

        </tbody>
    </table>
    
</section>
<section>
<div>
<button onclick="window.location.href = '{{btnlink}}';"> {{btnlabel}} </button>
</div>
</section> 



