{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_flashcards/teacherview

    Example context (json):
    {
        "createbtnlink": "https://addflashcardlink",
        "qlabel": "Question",
        "questions": [
            {
                "name": "testquestionnew1",
                "author": "Jack Nicholson",
                "qurl": "https://previewurl",
                "deleteurl": "https://deleturl",
                "editurl": "https://editurl"
            }
        ]
    }
}}
<div>
    <p><button class="btn btn-secondary" onclick="window.location.href = '{{createbtnlink}}';"> {{# str }} createflashcardbutton, mod_flashcards {{/ str }} </button></p>
</div>

<table class="generaltable fullwidth flashcardsstudenttable">
    <thead>
    <tr>
        <th class="header name">{{qlabel}}</th>
        <th class="flashcards_teacherview_author header">{{# str }} author, flashcards {{/ str }}</th>
        <th class="flashcards_studentview_ec header iconcol" scope="col">{{# str }} teachercheck, flashcards {{/ str }}</th>
        <th class="flashcards_studentview_ec header iconcol" scope="col">{{# str }} peerreview, flashcards {{/ str }}</th>
        <th class="flashcards_teacherview_ec header iconcol editaction" scope="col">&#160;</th>
        <th class="flashcards_teacherview_ec header iconcol previewaction" scope="col">&#160;</th>
        <th class="flashcards_teacherview_ec header iconcol deleteaction" scope="col">&#160;</th>
    </tr>
    </thead>
    <tbody class="table">
    {{#questions}}
        <tr class="table-row">
            <td class="table-cell">
                {{name}}
            </td>
            <td class="table-row">
                {{author}}
            </td>
            <td>
                {{{teachercheck}}}
            </td>
            <td>
                {{{peerreview}}}
            </td>
            <td class="iconcol editaction">
                <a title="Edit" href="{{editurl}}">
                    <i class="icon fa fa-cog fa-fw " title="{{# str }} edit, moodle {{/ str }}" aria-label="{{# str }} edit, moodle {{/ str }}"></i>
                </a>
            </td>
            <td class="iconcol previewaction">
                <a class="mod_flashcards_questionpreviewlink" href="{{qurl}}" target="questionpreview" title="Preview">
                    <i class="icon fa fa-search-plus fa-fw iconsmall" title="{{# str }} preview, moodle {{/ str }}" aria-label="{{# str }} preview, moodle {{/ str }}"></i>
                </a>
            </td>
            <td class="iconcol deleteaction">
                <a title="Delete" href="{{deleteurl}}">
                    <i class="icon fa fa-trash fa-fw " title="{{# str }} delete, moodle {{/ str }}" aria-label="{{# str }} delete, moodle {{/ str }}"></i>
                </a>
            </td>
        </tr>
    {{/questions}}

    </tbody>
</table>